html, body {
	background: white;
}

#gameContainer {
	background: black;
	width: 800px;
	height: 400px;
	margin: 1rem auto;
	position: relative;
}

#game, #particles {
	display: block;
	width: 800px;
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
}

#game {
	z-index: 1;
}