html, body {
	background: white;
}

#gameContainer {
	background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
	width: 800px;
	height: 400px;
	margin: 1rem auto;
	position: relative;
}

#game, #particles, #loadingCover {
	display: block;
	width: 800px;
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
}

#game {
	z-index: 1;
	cursor: none;
}

#loadingCover {
	color: white;
	text-align: center;
	margin-top: 1rem;
	z-index: 2;
}

.win-modal-body {
	background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
	text-align: center;
	color: white;
}