.top {
	height: 100vh;
	background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
	position: relative;
	overflow: hidden;
	margin: 0;
}

.sun {
	color: white;
	height: 10rem;
	width: 10rem;
	position: absolute;
	top: 35%;
	left: 50%;
	margin-left: -3.5rem;
	margin-right: -3.5rem;
	background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
	border-radius: 50%;
	line-height: 2.5rem;
	text-align: center;
	font-size: 28px;
}

#sun-text{
	vertical-align: middle;
}

.planet {
	animation: orbit 20s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
}

.planet-content:hover {
	animation-play-state: paused;
}

.planet .planet-content {
	animation: orbit 20s linear infinite;
	animation-direction: reverse;
	border-radius: 50%;
	color: white;
	display: block;
	line-height: 5rem;
	margin: 0 auto;
	text-align: center;
	width: 5rem;
	height: 5rem;
}

.planet.paused, .planet.paused .planet-content {
	animation-play-state: paused;
}

#planet1 {
	animation-duration: 20s;
	width: 500px;
	height: 500px;
	margin-top: -250px;
	margin-left: -250px;
}

#planet1 .planet-content {
	animation-duration: 20s;
	background: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

#planet2 {
	animation-duration: 30s;
	height: 700px;
	width: 700px;
	margin-top: -350px;
	margin-left: -350px;
}

#planet2 .planet-content {
	animation-duration: 30s;
	background: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

#planet3 {
	animation-duration: 25s;
	height: 900px;
	width: 900px;
	margin-top: -450px;
	margin-left: -450px;
}

#planet3 .planet-content {
	animation-duration: 25s;
	background: linear-gradient(120deg, #4facfe 0%, #00f2fe 100%);
}

#toasty {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 25px;
}

@keyframes orbit {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@media screen and (max-width: 768px) {
	#top {
		padding: 1rem;
	}
	.sun {
		position: initial;
		margin: 0;
	}
	.planet, #planet1.planet, #planet2.planet, #planet3.planet {
		position: initial;
		animation: none;
		margin: 1rem 0 0 0;
		width: 5rem;
		height: 5rem;
	}
	.planet .planet-content {
		animation: none;
	}
}