.top {
	height: 100vh;
	background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
	position: relative;
}

.planet {
	animation: orbit 20s linear infinite;
	width: 500px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px;
}

.sun {
	height: 7rem;
	width: 7rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -3.5rem;
	margin-right: -3.5rem;
	background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
	border-radius: 50%
}

.planet:nth-of-type(1) {
	animation: orbit 30s linear infinite;
	height: 700px;
	width: 700px;
	margin-top: -350px;
	margin-left: -350px;
}

.planet:nth-of-type(1):before {
	animation-duration: 30s;
	animation-direction: reverse;
	background: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

.planet:before {
	text-align: center;
	line-height: 5rem;
	align-items: middle;
	animation: orbit 20s linear infinite;
	animation-direction: reverse;
	background: linear-gradient(180deg, #2af598 0%, #009efd 100%);
	border-radius: 50%;
	display: block;
	content: "Hello";
	margin: 0 auto;
	width: 5rem;
	height: 5rem;
}

@keyframes orbit {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}