.top {
	height: 100vh;
	background-color: #000000;
	position: relative;
}

.planet {
	animation: orbit 20s linear infinite;
	width: 200px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
}

.planet:nth-of-type(1) {
	animation-delay: -20s;
	animation: orbit 30s linear infinite;
	height: 500px;
	width: 500px;
	margin-top: -250px;
	margin-left: -250px;
}

.planet:nth-of-type(1):before {
	background: orange;
}

.planet:before {
	background: #11abe9;
	box-shadow: 0 -10px 0 -8px grey;
	border-radius: 50%;
	display: block;
	content: "";
	margin: 0 auto;
	width: 2rem;
	height: 2rem;
}

@keyframes orbit {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}