html, body {
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
}

.particles {
	background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
	color: white;
}

#header {
	position: relative;
}

#header>.particles-js-canvas-el {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.fr {
	float: right;
}

.top-container {
	z-index: 2;
}