<!DOCTYPE html>
<html>

<head>
	<title>Ruth Angus</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	{% if page.url == "/" %}
	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script src="/public/index.js"></script>
	<link rel="stylesheet" href="/public/index.css">
	{% endif %}
</head>

<body>
	{{ content }}
</body>

</html>