---
layout: base
---
<div class="jumbotron jumbotron-fluid particles" id="header">
	<div class="container top-container">
		<h1 class="display-4"><a href="{{site.baseurl}}/" class="btn btn-outline-light btn-lg floating-home-button"><i
					class="fa fa-home" aria-hidden="true"></i></a> {{page.title}}</h1>
		<p class="lead">{{page.subtitle}}</p>
	</div>
</div>
{{content}}

<script>
	particlesJS.load('header', '{{site.baseurl}}/public/particlesjs-config.json', function () {
		console.log('callback - particles.js config loaded');
	});
</script>